# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# MacOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Test and log files
*.log

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go modules
/vendor/
/bin/
/pkg/
