# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# MacOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Test and log files
*.log